force-app/main/default/flows/Marketing_Call_to_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Action_1</name>
        <label>Send Email Action 1</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>email_addresses</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Customer Self-served and requested Information.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>marketing_email_body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <description>List of email addresses</description>
        <name>email_addresses</name>
        <dataType>String</dataType>
        <value>
            <stringValue>hello@evercheck.com</stringValue>
        </value>
    </constants>
    <description>Flow triggered when a customer Self-served.</description>
    <environments>Default</environments>
    <interviewLabel>Marketing Call to Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Marketing Call to Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the email from the running Contact</description>
        <name>Get_Contact_Email</name>
        <label>Get Contact Email</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_From_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the user linked to the contact.</description>
        <name>Get_User_From_Contact</name>
        <label>Get User From Contact</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_Action_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Email.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Email</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>Email body sent to marketing team for a call action</description>
        <name>marketing_email_body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Hello Sellers!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;A new customer {!Get_Contact_Email.Name} ({!Get_Contact_Email.FirstName} {!Get_Contact_Email.LastName}) has reached the limit of request in the self-serve site, but requested to be contacted by our Sales team ... hooray!!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Information about the contact:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif;&quot;&gt;Title: {!Get_Contact_Email.Title}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Name: {!Get_Contact_Email.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email: {!Get_Contact_Email.Email}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Telephone Number: {!Get_Contact_Email.Phone}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Company: {!Get_User_From_Contact.CompanyName} &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;em&gt;&lt;u&gt;Happy Sales!&lt;/u&gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Contact Id for the user that is calling marketing for action</description>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.ContactId</elementReference>
        </value>
    </variables>
</Flow>
